@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&family=Open+Sans&family=Patrick+Hand&family=Playfair+Display:wght@500&display=swap');

body{
    position: relative;
    min-height: 100vh;
}
.main-cart{
    display: flex;
    justify-content: center;
}
.cart{
    background-color: white;
    padding: 3rem;
    border-radius: 0.5rem;
    color: black;
    margin: 3vw 0vw;
    border:1px solid #ffa9e9;
    box-shadow: 0px 0px 22px #ffa9e9;
    background-color: rgba(255, 255, 255, 0.692);
}
.cartNumber{
    width: 8em;
    display: block;
    text-align: center;
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
    border-bottom: 2px solid #0d6dfd;
    color: #0d6dfd;
    font-size: 18px;
    font-weight: bold;
}
.separator{
    background: rgba(0, 0, 0, 0.479);
    height: 1px;
    margin: 0;
    width: 100%;
}
.item img{
    width: 11rem;
}
.item{
    display: flex;
    height: 15rem;
    padding-top: 4%;
    padding-bottom: 4%;
    justify-content: space-around;
    width: 70vw;
    max-width: 50rem;
}
.dataItem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20rem;
    padding: 3%;
}
.counterItem{
    display: flex;
    flex-direction: column;
    height: 11rem;
    align-items: center;
    justify-content: center;
}
.subtrtactAndAdd{
    display: flex;
}
.addItem,
.subtractItem{
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 2px;
    margin-top: 10px;
}
.quantity{
    height: 40px;
    font-size: 20px;
    text-align: center;
    margin: 2px;
    margin-top: 10px;
}
.addItem,
.subtractItem{
    display: flex;
    width: 20px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 204, 204);
    color: black;
    border-color: rgb(204, 204, 204);
}
.allValue{
    font-size: 20px;
    display: flex;
    align-items: center; 
    height: 100%;
    padding-left: 2rem;
}
.fullShipment{
    display: flex;
    justify-content: end;
    padding: 5%;
    font-size: 20px;
}
.fullShipmentPrice{
    margin-left: 5%;
    margin-right: 5%;
}
.purchase{
    display: flex;
    justify-content: end;
    padding: 5%;
    padding-bottom: 0;
}
.buttomsItem a{
    margin: 5px;
}
.price{
    margin: 5px;
    color: #0d6dfd;
    font-size: 16px;
    font-weight: bold;
}
.allPriceCart{
    margin-left: 10px;
    color: #0d6dfd;
    font-size: 20px;
    font-weight: bold;
}
/* ----------------------------MODAL-------------------------------- */
.conteinerModal{
    background-color: rgba(0, 0, 0, 0.854);
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: 10rem;
    display: none;
    font-size: 1.6rem;
}
.modalTarjet{
    position: relative;;
    width: 50rem;
    height: 44rem;
    background: url("https://img.freepik.com/vector-gratis/fondo-acuarela-rosa-pintado-mano-detallado_1048-17039.jpg?w=1380&t=st=1681747474~exp=1681748074~hmac=7294d075552d6223f5e2f574404e8dfd914ff61065add45b35bfab87c6b73f1d");
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 5rem;
}
.imgPets{
    position: absolute;
    bottom: -5.1rem;
    width: 50rem;
    height: 18rem;
    background: url(../images/pngwing.com.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 100%;
}
.cardImg{
    width: 30rem;
    height: 15rem;
    background: url("https://www.wallpapertip.com/wmimgs/6-64960_gold-textured-background-hd-picture-pure-gold-colour.jpg");
    border-radius: 1rem;
    position: relative;
    font-family: 'Patrick Hand';
    font-size: 1.8rem;
}
.chip-card{
    position: absolute;
    width: 5rem;
    height: 3rem;
    background: url("https://thumbs.dreamstime.com/b/circuito-el%C3%A9ctrico-ilustraci%C3%B3n-del-vector-del-eps-78480935.jpg");
    background-size: cover;
    border-radius: 10px;
    top: 3rem;
    left: 1rem;
}
.logo-card{
    position: absolute;
    right: 0;
    width: 24rem;
    height: 8rem;
    background: url("../images/imgbin_credit-card-payment-card-debit-card-e-commerce-payment-system-png.png");
    background-size: 100%;
}
.card-number{
    position: absolute;
    bottom: 4rem;
    left: 1rem;
}
.card-date{
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
}
.card-name{
    position: absolute;
    bottom: -0.8rem;
    left: 1rem;
}
.card-cvc{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}
.form input, label, button{
    margin-top: 1rem;
}
.conteinerButtonConfirm{
    position: absolute;
    width: 40rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rows{
    display: flex;
    align-items: center;
}
.formGroup{
    display: flex;
    justify-content: space-between;
    width: 40rem;
}
.rows label{
    margin-right: 0.5rem;
}



@media screen and (max-width:767px) {
    .item{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .counterItem{
        width: 100%;
        height: 5rem;
        padding-top: 2rem;
    }
    .cart{
        padding: 0;
        display: block;
    }
    .dataItem{
        width: auto;
    }
    .allValue{
        display: block;
        text-align: end;
        padding-right: 1rem;
    }
}