*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
}
img{
    object-fit: cover;
}

body{
    background: url(https://img.freepik.com/vector-gratis/fondo-acuarela-rosa-pintado-mano-detallado_1048-17039.jpg?w=1380&t=st=1681747474~exp=1681748074~hmac=7294d075552d6223f5e2f574404e8dfd914ff61065add45b35bfab87c6b73f1d);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    width: 100%;
    height: 80%;
}

.navColor{
    background-color: #ffa9e9;
}

nav{
    font-size: x-large;
}
.conteiner-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

/* .img1{
    width: 20%;
} */

.navC{
    width: 5rem;
}

h1{
    font-family: 'Dancing Script', cursive;
}
.navbar-expand-lg{
    padding: 0 1rem;
}

.car{
    padding: 1rem 3rem;
    height: 70vh;
    object-fit: cover;
    object-position: left 0 top 30%;
}

.carruelImg{
    height: 25vh;
    width: 20vw;
}

.bor{
    margin: 0 !important;
}

#myCarousel {
    max-height: 500px;
    margin: auto;
}

.social{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    height: 80%;
}

.face{
    width: 2vw;
    height: 4vh;
}
.carousel-caption{
    background-color: rgba(255, 255, 255, 0.653);
    border-radius: 30px 30px 0px 0px;
}

footer{
    background-color:  #ffa9e9;
}

.bgBoton{
    background-color: #81e6d0 !important;
}

.bgBtn{
    background-color: #81e6d079 !important;
    width: 5% !important;
    margin-bottom: 0;
}

.slider{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  .slider .slide-track
  {
    display: flex;
    animation: scroll 40s linear infinite;
    width: calc(200px * 15 );
  }
  .slider .slide
  {
    width: 200px;
  }
  .slider .slide img
  {
    width: 100%;
    height: 20vh;
    padding: 1rem;
   background-color: #fd5daf;
  }
  @keyframes scroll 
  {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  
    }
    100%
    {
      -webkit-transform: translateX(calc(-158px * 7));
      transform: translateX(calc(-158px * 7));
    }
  }

@media only screen and (min-width: 320px) and (max-width: 767px){
    .carruelImg{
        height: 25vh;
        width: 100%;
    }
    .car{
        height: 30vh;
    }
    .conteiner-nav{
        flex-direction: column;
    }
}